@page
@model QuizApp.Pages.AddQuestion.Overview

<h1>@Model.Quiz.QuizName overview</h1>

@foreach (var item in Model.Quiz.Questions)
{
    <h2>@item.QuestionString</h2>
    <table class="table text-center">
        <thead class="thead-light">
            <tr>
                <th scope="col">Nr</th>
                <th scope="col">Answer</th>
                <th scope="col">Correct</th>
            </tr>
        </thead>
        <tbody>
        @for (int i = 0; i < item.Answers.Count; i++)
        {
            <tr>
                <th scope="row">@(i + 1)</th>
                <td>
                    @Html.Raw(item.Answers.ElementAt(i).AnswerString)
                </td>
                <td>
                   @Html.Raw(item.Answers.ElementAt(i).CorrectAnswer) 
                </td>
            </tr>
        }
        </tbody>
    </table>
}